:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button-color: #188ce8;
  --primary-white-color: #ffffff;
  --primary-black-color: #000;
  --additional-color: rgba(255, 255, 255, 0.6);
  --background-grey-color: #2f303a;
  --additional-background-color: #f5f4fa;
  --portfolio-background: #eeeeee;
  --header-border: #ececec;
  --form-border: rgba(33, 33, 33, 0.2);
  --social-links: #afb1b8;
  --bg-social-links: rgba(255, 255, 255, 0.1);
  --bg-customers: #f5f5f5;
  --bg-overlay: #c4c4c4;
  --bg-label: rgba(47, 48, 58, 0.8);
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --textarea-color: rgba(117, 117, 117, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  /* transition: color 500ms; */
}

img {
  width: 100%;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

button {
  display: inline-block;
  border-radius: 4px;
  min-width: 73px;
  border: 2px solid transparent;
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}

.header {
  border-bottom: 1px solid var(--header-border);
}
.header-container {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo_top {
  color: var(--primary-black-color);
}

.logo-header {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.menu-toggle {
  z-index: 150;
  min-height: 40px;
  min-width: 40px;
  top: 10px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  padding: 48px 40px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--timing-function);
  transition: -webkit-transform var(--timing-function);
  transition: transform var(--timing-function);
  transition: transform var(--timing-function), -webkit-transform var(--timing-function);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
}
.menu-container .menu-toggle:hover, .menu-container .menu-toggle:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  margin-bottom: 302px;
}

.menu_item:not(:last-child),
.menu-contact_item:not(:last-child) {
  margin-bottom: 32px;
}

.menu_link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: var(--title-text-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.menu_link:hover, .menu_link:focus {
  color: var(--accent-color);
}

.menu_link--current {
  color: var(--accent-color);
}

.menu-contact {
  margin-bottom: 64px;
}

.menu-contact_number {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}

.menu-contact_mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text-color);
}

.menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-socials_item:not(:last-child) {
  margin-right: 20px;
}

.menu-socials_link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .navigation_list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .navigation_list {
    margin-left: 93px;
  }
}

.navigation_item:not(:first-child) {
  margin-left: 50px;
}

.navigation_link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.navigation_link:hover, .navigation_link:focus {
  color: var(--accent-color);
}

.navigation_link--current {
  color: var(--accent-color);
}
.navigation_link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 315px;
  }
}
.contact_link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: var(--primary-text-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.contact_link:hover, .contact_link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contact_link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contact_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact_item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact_item:not(:last-child) {
    margin-bottom: 0;
  }
  .contact_item:not(:first-child) {
    margin-left: 30px;
  }
}

.contact_icon {
  fill: var(--primary-text-color);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}
.contact_icon:hover, .contact_icon:focus {
  fill: var(--accent-color);
}

.contact_link:hover .contact_icon,
.contact_link:focus .contact_icon {
  fill: var(--accent-color);
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_mob_1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_mob_1x.jpg);
  background-color: var(--bg-overlay);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_mob_2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_mob_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_tab_1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_tab_1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_tab_2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_tab_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_desk_1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_desk_1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_desk_2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_desk_2x.jpg);
  }
}
.hero_title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero_title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero_button {
  padding: 8px 22px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-transition: color var(--timing-function), background-color var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .hero_button {
    padding: 8px 30px;
  }
}
.hero_button:hover, .hero_button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-button-color);
}

.advantages {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}
@media screen and (min-width: 768px) {
  .advantages_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.advantages_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--additional-background-color);
  border-radius: 4px;
}
.advantages_icon {
  fill: var(--title-text-color);
}
.advantages_title {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .advantages_title {
    text-align: start;
  }
}
.advantages_text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .advantages_item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages_item {
    display: block;
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .advantages_item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.advantages_item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    text-align: center;
    padding-top: 47px;
    padding-bottom: 94px;
  }
}

.about_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.about_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_wrap {
  position: relative;
}

.about_img {
  display: block;
}

.about_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1600px) {
  .about_item {
    margin-right: 30px;
  }
  .about_item:last-child {
    margin-right: 0;
  }
}

.team {
  padding: 60px 0;
  background-color: var(--additional-background-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .team_title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team_item {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team_item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team_item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member_name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.member_text {
  margin-bottom: 16px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.web_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}
.web_link:hover, .web_link:focus {
  background-color: var(--accent-color);
}

.web_icon {
  fill: var(--social-links);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}
.web_link:hover .web_icon, .web_link:focus .web_icon {
  fill: var(--primary-white-color);
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers_title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .customers_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.customers_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.customers_item {
  height: 92px;
}
@media screen and (min-width: 480px) {
  .customers_item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customers_item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers_item {
    width: calc((100% - 150px) / 6);
  }
}

.customers_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid var(--social-links);
  border-radius: 4px;
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}
.customers_link:hover, .customers_link:focus {
  border-color: var(--accent-color);
}

.customers_icon {
  fill: var(--social-links);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}
.customers_link:hover .customers_icon, .customers_link:focus .customers_icon {
  fill: var(--accent-color);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter_list {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.filter_item {
  display: inline-block;
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filter_item {
    margin-bottom: 15px;
  }
  .filter_item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.filter_item:last-child {
  margin-right: 0;
}

.filter_button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--additional-background-color);
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color var(--timing-function), background-color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function), box-shadow var(--timing-function);
  transition: color var(--timing-function), background-color var(--timing-function), box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
}

.filter_button:hover,
.filter_button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter_button.all {
  padding: 6px 25px;
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .examples-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.examples-card {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .examples-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .examples-card {
    width: calc((100% - 60px) / 3);
  }
}

.examples-card a {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--timing-function);
  transition: -webkit-box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
}

.examples-card a:hover,
.examples-card a:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-card .photo {
  min-width: 370px;
}

.examples-photo-wrap {
  position: relative;
  overflow: hidden;
}

.examples-description {
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  position: absolute;
  height: 100%;
  padding: 63px 23px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  -webkit-transition: -webkit-transform var(--timing-function);
  transition: -webkit-transform var(--timing-function);
  transition: transform var(--timing-function);
  transition: transform var(--timing-function), -webkit-transform var(--timing-function);
}

a:hover .examples-description,
a:focus .examples-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples-card .wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--portfolio-background);
  border-right: 1px solid var(--portfolio-background);
  border-bottom: 1px solid var(--portfolio-background);
}

.examples-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-grey-color);
  font-family: "Roboto", "Sans-Serif";
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin-right: 70px;
  }
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
}

.logo_bottom {
  color: var(--primary-white-color);
}

.info {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.info_item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .info_item {
    margin-bottom: 9px;
  }
}
.info_item:last-child {
  margin-bottom: 0;
}

.info_link {
  color: var(--additional-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.info_link--address {
  color: var(--primary-white-color);
}
.info_link:hover, .info_link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .social {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    margin-right: 93px;
  }
}
.social_text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.social_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--bg-social-links);
  border-radius: 50%;
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}
.social_link:hover, .social_link:focus {
  background-color: var(--accent-color);
}

.social_icon {
  fill: var(--primary-white-color);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}
.social_link:hover .social_icon, .social_link:focus .social_icon {
  fill: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .subscription {
    text-align: center;
  }
}
.subscription_text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .subscription_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.subscription_input {
  background: none;
  border: none;
  outline: none;
  padding-left: 16px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .subscription_input {
    margin-right: 12px;
    width: 358px;
  }
}
.subscription_input:hover, .subscription_input:focus {
  border-color: var(--accent-color);
}
.subscription_input::-webkit-input-placeholder {
  color: var(--additional-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.subscription_input::-moz-placeholder {
  color: var(--additional-color);
  -moz-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.subscription_input:-ms-input-placeholder {
  color: var(--additional-color);
  -ms-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.subscription_input::-ms-input-placeholder {
  color: var(--additional-color);
  -ms-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.subscription_input::placeholder {
  color: var(--additional-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.subscription_input:hover::-webkit-input-placeholder, .subscription_input:focus::-webkit-input-placeholder {
  color: var(--accent-color);
}
.subscription_input:hover::-moz-placeholder, .subscription_input:focus::-moz-placeholder {
  color: var(--accent-color);
}
.subscription_input:hover:-ms-input-placeholder, .subscription_input:focus:-ms-input-placeholder {
  color: var(--accent-color);
}
.subscription_input:hover::-ms-input-placeholder, .subscription_input:focus::-ms-input-placeholder {
  color: var(--accent-color);
}
.subscription_input:hover::placeholder, .subscription_input:focus::placeholder {
  color: var(--accent-color);
}

.subscription_button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  position: relative;
  padding: 10px 28px;
  min-width: 200px;
  height: 50px;
  text-align: left;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}
.subscription_button:hover, .subscription_button:focus {
  background-color: var(--accent-button-color);
}

.subscription_icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: scroll;
  -webkit-transition: opacity var(--timing-function), -webkit-transform var(--timing-function);
  transition: opacity var(--timing-function), -webkit-transform var(--timing-function);
  transition: opacity var(--timing-function), transform var(--timing-function);
  transition: opacity var(--timing-function), transform var(--timing-function), -webkit-transform var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 101;
  height: 609px;
  width: 450px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  fill: var(--primary-black-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.form {
  width: 100%;
  /* outline: 1px solid yellow; */
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  /* outline: 1px solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field:nth-of-type(4) {
  margin-bottom: 0;
}

.form-field label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4px;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-field:nth-of-type(4) label {
  margin-bottom: 0;
}

.form-field input {
  display: block;
  padding-left: 42px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: var(--primary-black-color);
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}

.form-field input:focus,
.form-field input:hover {
  border-color: var(--accent-color);
}

.form-field input:focus + svg,
.form-field input:hover + svg {
  fill: var(--accent-color);
}

.form-wrap {
  position: relative;
}

.form-wrap svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .form-wrap svg {
    left: 15px;
  }
}

.comment textarea {
  border: none;
  outline: none;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid var(--form-border);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  -webkit-transition: border-color var(--timing-function);
  transition: border-color var(--timing-function);
}

.comment textarea:hover,
.comment textarea:focus {
  border-color: var(--accent-color);
}

textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}

textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-color);
  -moz-transition: color var(--timing-function);
  transition: color var(--timing-function);
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-color);
  -ms-transition: color var(--timing-function);
  transition: color var(--timing-function);
}

textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-color);
  -ms-transition: color var(--timing-function);
  transition: color var(--timing-function);
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}

textarea:hover::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: var(--accent-color);
}

textarea:hover::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: var(--accent-color);
}

textarea:hover:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: var(--accent-color);
}

textarea:hover::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
  color: var(--accent-color);
}

textarea:hover::placeholder,
textarea:focus::placeholder {
  color: var(--accent-color);
}

.accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.accept label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .accept label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid var(--title-text-color);
  width: 16px;
  height: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox svg {
  fill: var(--primary-white-color);
  display: none;
}

.accept input:focus:checked + label .checkbox {
  fill: var(--accent-color);
  border: none;
}

.accept input:focus:checked + label .checkbox svg {
  display: block;
  fill: var(--accent-color);
}

.accept a {
  padding-left: 5px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.form-button {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--accent-button-color);
}/*# sourceMappingURL=main.css.map */