.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-grey-color);
    font-family: "Roboto", "Sans-Serif";

    &-container {

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            align-content: center;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;
            justify-content: center;
            
        }
        
    }
}

.address {
    @media screen and (max-width: 1199px) {
        text-align: center;
        margin-bottom: 60px;
    }

    
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}


.logo-footer {
    margin-bottom: 20px;
    display: block;
}

.logo_bottom {
    color: var(--primary-white-color);
}


.info {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

.info_item {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.info_link {
    color: var(--additional-color);

    transition: color var(--timing-function);

    &--address {
        color: var(--primary-white-color);
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}


.social {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (max-width: 1199px) {
        text-align: center;
        
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }    

    &_text {
        @include font(14px,700,1.14,0.03em);

        margin-bottom: 20px;
        text-transform: uppercase;
        color: var(--primary-white-color);
    }

    &_list {
        @include center(flex, center, center);

        flex-wrap: wrap;
        gap: 10px;
    }
}

.social_link {
    @include center(flex, center, center);

    width: 44px;
    height: 44px;
    background-color: var(--bg-social-links);
    border-radius: 50%;
    
    transition: background-color var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social_icon {
    fill: var(--primary-white-color);
    transition: fill var(--timing-function);

    .social_link:hover &,
    .social_link:focus & {
        fill: var(--primary-white-color);
    }
    
}

.subscription {

    @media screen and (max-width: 1199px) {
        text-align: center;

    }
    
    &_text {
        @include font(14px,700,1.14,0.03em);

        margin-bottom: 20px;
        text-transform: uppercase;
        color: var(--primary-white-color);
    }

    &_form {
        @media screen and (max-width: 1199px) {
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
    }

}

.subscription_input {
    background: none;
    border: none;
    outline: none;
    padding-left: 16px;
    text-align: left;
    display: flex;
    
    width: 100%;
    height: 50px;
    
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);

    transition: border-color var(--timing-function);

    @media screen and (min-width: 480px) {
        width: 450px;   
    }

    @media screen and (max-width: 1199px) {
        margin: 0 auto 20px;
    }


    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        width: 358px;
        
    }

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }

    &::placeholder {
        color: var(--additional-color);
    
        transition: color var(--timing-function);
    }

    &:hover::placeholder,
    &:focus::placeholder {
        color: var(--accent-color);
    }
}

.subscription_button {
    @include font(16px, 700, 1.88, 0.06em);

    position: relative;

    padding: 10px 28px;
    min-width: 200px;
    height: 50px;

    text-align: left;
    
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    transition: background-color var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-button-color);
    }

}

.subscription_icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}