.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: scroll;
    transition: opacity var(--timing-function), transform var(--timing-function);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    width: calc(100% - 2 * 15px);
    min-height: 609px; 
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

    @media screen and (min-width: 480px) {
        width: 450px;
          
    }

    @media screen and (min-width: 1200px) {
        min-height: 581px;
        width: 528px;    
    }
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    transition: fill var(--timing-function);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
    fill: var(--primary-black-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-button:hover,
.close-button:focus {
    fill: var(--accent-color);
}

.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

    @media screen and (min-width: 1200px) {
        line-height: 1.15;
        
    }
}

.form {
    width: 100%;
    /* outline: 1px solid yellow; */
    margin-left: auto;
    margin-right: auto;
}

.form-field {
    /* outline: 1px solid blue; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-field:nth-of-type(4) {
    margin-bottom: 0;
}

.form-field label {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;

    text-align: left;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form-field:nth-of-type(4) label {
    margin-bottom: 0;
}

.form-field input {
    display: block;
    padding-left: 42px;

    border: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: 1px solid var(--form-border);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: var(--primary-black-color);

    transition: border-color var(--timing-function);
}

.form-field input:focus,
.form-field input:hover {
    border-color: var(--accent-color);
}

.form-field input:focus+svg,
.form-field input:hover+svg {
    fill: var(--accent-color);
}

.form-wrap {
    position: relative;
}

.form-wrap svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--timing-function);

    @media screen and (min-width: 1200px) {
        left: 15px;
    }
}

.comment textarea {
    border: none;
    outline: none;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid var(--form-border);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    transition: border-color var(--timing-function);
}

.comment textarea:hover,
.comment textarea:focus {
    border-color: var(--accent-color);
}

textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--textarea-color);
    transition: color var(--timing-function);
}

textarea:hover::placeholder,
textarea:focus::placeholder {
    color: var(--accent-color);
}

.accept {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.accept label {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 24px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (max-width: 480px) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.71;
        
    }
}

.checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 2px solid var(--title-text-color);
    width: 16px;
    height: 15px;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox svg {
    fill: var(--primary-white-color);
    display: none;
}

.accept input:focus:checked+label .checkbox {
    fill: var(--accent-color);
    border: none;
}

.accept input:focus:checked+label .checkbox svg {
    display: block;
    fill: var(--accent-color);
}

.accept a {
    padding-left: 5px;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.form-button {
    min-width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color var(--timing-function);
}

.form-button:hover,
.form-button:focus {
    background-color: var(--accent-button-color);
}